* {
    margin: 0px;
    padding: 0px;
    font-family:Arial, Helvetica, sans-serif;
  }
  
  .contenedor{
    display: grid;
    grid-template-rows: 20vh 13vh 60vh 7vh;
    grid-template-areas:
      "nav"
      "busqueda"
      "card"
      "footer";
    height: 100vh;
  }
  .menu{
    grid-area: nav;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    background-color: #d6680b;
    color: #f8f8f8;
    font-size: 1rem;
}

.titlemenu{

  display: flex;
  justify-content: end;
  align-items: center;
  gap: 25px;

}


.menu__opciones{
    list-style: none;
     display:none; 
    
}

.menu__burger{
    display: block;
    width: 24px; 
    height: 24px;
    background-color: #d6680b;
}

.menu input[type="checkbox"], .menu .fa-bars, .menu .fa-times {
    position: absolute;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    right: 0;
    width: 24px;
    height: 24px;
  }

  .menu .fa-bars, .menu .fa-times {
    font-size: 24px;
    pointer-events: none;
  }  

.menu input[type="checkbox"] {
    opacity: 0;
  }

  .menu__burger nav{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 3s linear;
  }


  .menu__burger nav ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    height: 150px;
  }



  .menu__burger nav ul li{
    list-style: none;
    padding: 1px;
    
  }
  .menu__burger nav ul li:hover{
    cursor: pointer;
    text-decoration: underline;
    font-size: 1.1rem;
    font-weight: 500;
  }
  

  .menu input:checked ~ nav {
    width: 120px;
    height: 50%;
    position: absolute;
    margin-top: 50px;
    right: 0;
    background-color: #d6680b;
    visibility: visible;
    opacity: 1;
    color:#fff;
    
  }
  
  .menu input:checked ~ .fa-bars {
    display: none;
  }
  
  .menu input:not(:checked) ~ .fa-times {
    display: none;
  }


 
  
  .contenedormenu {
    display: none;
  }

  
  

  .menul {
    grid-area: busqueda;
    background-color: #eaf2e3;
    color: black;
  }

  .contenedorbusqueda {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    gap: 10px;
  }


  .filtro {
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 40px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    padding-left: 1em;
    padding: 5px;
  }
  
  .cuerpo {
    grid-area: card;
    background-color: #fff;
    position: relative;
    overflow-y: auto;
  }
  

  .contenedortarjeta {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px 25px;
    padding: 30px 60px;
  }
  
  .tarjeta {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    flex-basis: 90%;
    flex-grow: 5em;
    align-items: center;
    border-radius: 6px rgb(167, 252, 57);
    box-shadow: rgba(109, 238, 3, 0.12) 0px 1px 3px, rgba(13, 252, 5, 0.24) 0px 1px 2px;
    padding: 10px;
  }
  
  .img {
    margin: 5px;
    width: 200px;
    padding: 30px 30px 0px 30px;
    object-fit: cover;
    transition: opacity 0.3s ease; 
  }

  .img:hover {
     opacity: 0.7;
  }


  .footcard {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    margin: 15px;
    padding: 50px;
    color: black;
  }

  .footcard p {
    padding: 2px;

  }
   
  .btn {
    background-color: #d6680b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 8px 10px;
  }
  
  .btn:hover {
    background-color: #2a0433c8;
  }
  

  .numerador {
    display: flex;
    justify-content: center;
    background-color: white;
    text-align: center;
    position:sticky;
    bottom: 0;
    color: rgb(43, 1, 1);
    padding: 30px;
  }
  
  .items{
    border: 1px solid #ddd;
    float: left;
    padding: 15px 15px;
    color: rgb(0, 0, 0);
  }




  .footer {
    grid-area: footer;
    background-color: #c99062;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    text-align: center;
  }
  
  .icon{
    display: flex;
    justify-content: center;
    gap: 1em;
    font-size: 1.5em;
  }
  
 
  
  @media (min-width: 992px) {
    .contenedor {
      grid-template-areas:
        "nav busqueda"
        "nav card"
        "footer card"; 
        grid-template-rows: 1fr 10fr;
        grid-template-columns: 2fr 8fr;
    }

    .menu{
      display: flex;
      flex-direction: column;
      justify-content: start;
      padding: auto;      
    }

    .menu h1{
      height: 100px;
      font-size: 50px;
      
    }

   


  
    .menu__opciones {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: start;
        font-size: 20px;
        padding: 20px;
        margin: 20px;

      }

      .menu__opciones li {
     
        padding: 8px;
        margin: 8px;
        transition: opacity 0.3s ease; 

      }

      .menu__opciones li:hover {
        opacity: 0.7;
        background-color: #c99062;

      }






      .barra {
        display: none;
      }
    }


    .contenedortarjeta {
      display: flex;
      flex-direction: row;
      
    }

    .tarjeta {
        display: flex;
        flex-direction: column;
        flex-basis: 20%;
        flex-grow: 12;
        align-items: center;
        border-radius: 8px grey;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
      }

      .img {
       
        padding: 5px 5px;
      }
   
      .footer {
      gap: 15px;
      padding: 15px;
    }
  
    .icons {
      font-size: 1.5em;
    }
  
    .contenedormenu {
      display: flex;
      flex-direction: column;
      align-items: center;      
      gap: 8px;
      padding: 20px;
    }
  
